@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600&display=swap");
:root {
  --body-font: 'League Spartan', sans-serif;
  --color-primary: #222831;
  --color-secondary: #FF2E63;
  --color-active: #00ADB5;
  --color-gray: #393E46;
  --color-white: #FFF;
  --color-black: #000;
  --text-color: #F6F6F6;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  font-size: 12px;
}

body {
  font-family: var(--body-font);
  background-color: var(--color-primary);
  font-size: 1.6rem;
  color: var(--text-color);
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.block {
  display: block;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  z-index: 5;
  top: 50%;
  right: 3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navbar .active {
  color: var(--color-active) !important;
}

.navbar .nav-link {
  cursor: pointer;
  padding: 1rem;
  background-color: var(--color-gray);
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: .8rem 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar .nav-link i {
  color: var(--color-secondary);
}

.navbar .nav-link:hover i {
  color: var(--color-active);
}

.container-my {
  height: 100vh;
  width: 100vw;
}

#home {
  background: url("../img/home_bg.jpg") no-repeat center right/cover;
}

#home .header-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-top: 10%;
}

#home .header-content .info {
  background: rgba(46, 76, 109, 0.2);
  border-radius: 2rem;
  margin-left: 2rem;
  width: 90%;
  padding: 50px;
}

#home .header-content h1 {
  padding: 1rem 0;
  font-size: 4rem;
  line-height: 1.2;
}

#home .header-content .btn {
  color: var(--color-active);
  margin-right: 1rem;
  background-color: var(--color-primary);
  font-size: 16px;
}

#home .header-content .portrait {
  background: rgba(46, 76, 109, 0.2);
  border-radius: 2rem;
  margin-right: 30%;
  text-align: center;
  position: relative;
  padding: 20px;
}

#home .header-content .portrait img {
  border-radius: 40px;
  height: 500px;
  opacity: .9;
}

#home .header-content .portrait::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-bottom: 8px solid var(--color-active);
  border-left: 8px solid var(--color-active);
  bottom: 0;
  left: 0;
}

#home .header-content .portrait::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-top: 8px solid var(--color-active);
  border-right: 8px solid var(--color-active);
  top: 0;
  right: 0;
}

@media (max-width: 768px) {
  #home .header-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #home .info {
    width: 75%;
  }
}
/*# sourceMappingURL=style.css.map */